/* Footer
========================================================================== */
.main-footer{
    .sub-footer{
        height: 25px;
        background: linear-gradient(90deg, #15CBD5 3.57%, #18A9B0 97.21%);
        width: 100%;
        display: flex;
        align-items: center;
        .al-container{
            display: flex;
            justify-content: end;
            align-items: center;
            font-family: "Rubik", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;
        }
    }
    .sup-footer{
        padding: 60px 0;
        background: linear-gradient(90deg, #4E8D91 3.57%, #18A9B0 97.21%);
        .al-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: end;
            .collum-footer{
                .logo{
                    width: 242px;
                    height: 187px;
                }
                .link{
                    font-family: "Rubik", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                    cursor: pointer;
                }
                .link:hover{
                    color: #DDD;
                    font-weight: 400;
                }
                .footer-title{
                    font-family: "Rubik", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                }
                .lista{
                    margin-top: 15px;
                    &ul{
                        padding: 15px 0;
                    }
                    &.blue-icons{    
                        transition: all .3s;
                        display: flex;
                        flex-wrap: nowrap;
                        column-gap: 10px;
                        padding: 15px 0;
                        margin-top: 15px;
                        li{
                            transition: all .3s;
                            height: 47px;
                            width: 47px;
                            border-radius: 50%; 
                            box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.25);
                            background-color: #FFF;
                            align-items: center;
                            justify-content: center;
                            img{
                                padding: 0;
                                transition: all .3s;
                            }
                        }
                        a:hover{
                            li{
                                img{
                                    transform: rotateY(360deg);
                                }
                            }
                        }
                    }
                    .endereco{
                        tr{
                            align-items: flex-start;
                        }
                    }
                    tr, li{
                        display: flex;
                        padding: 8px 0;
                        font-family: "Rubik", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #FFF;
                        td{
                            width: 36px;
                        }
                        td+td{
                            width: 100%;
                        }
                    }
                }
                label{
                    display: none;
                }
                input{    
                    height: 40px;
                    width: 303px;
                    border-radius: 8px; 
                    background-color: #F5F5F5;             
                }
                input::placeholder {
                    color: #777;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                }
                .tnp-submit{
                    background-color: #006096;
                }
            }
        }
    }
}
@media screen and(max-width: 1230px) {
    .button-submit{
        background-color: #006096;
        border: none;
        border-radius: 8px;
        width: 50px;      
        height: 36px;
        position: absolute;
        margin-top: -38px;
        right: 0;
    }
    .main-footer{
        .sub-footer{
            .al-container{
                padding-right: 20px;
            }
        }
        .sup-footer{
            .al-container{
                align-items: center;
                justify-content: center;
                .collum-footer{
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 10px 5%;
                    input{  
                        width: 100%;  
                    }
                    .blue-icons{
                        display: flex;
                        justify-content: space-evenly;
                    }
                }
            }
        }
    }
}