/* Header
========================================================================== */
.main-header{    
    z-index: 9999999999;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 4px 7px 0px #00000017;
    .al-container{
        .sub-menu{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 129px;
            .main-menu{
                display: flex;
                justify-content: space-between;
                align-items: center;
                >ul{
                    height: 90px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 45px;
                    li{
                        a{  
                            transition: all .3s;
                            color: #000;
                            font-family: "Open Sans", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            text-align: left;
                        }
                        &:hover{
                            a{color: #888;}
                        }
                        &:last-child{
                            a{
                                color: #FFF;
                                font-family: "Open Sans", sans-serif;
                                font-family: Open Sans;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                text-align: left;
                            }
                            transition: all .3s;
                            border: 1px #00C3CD solid;
                            background-color: #00C3CD;
                            border-radius: 20px;
                            padding: 4px 12px;
                            &:hover{
                                background-color: #FFF;
                                a{color: #00C3CD;}
                            }
                        }
                    }
                }
            }
        }
    }
}

.whatsapp-link{
    z-index: 9999999;
    position: fixed;
    width: 48px;
    height: 49px;
    bottom: 35px;
    right: 40px;
	img{
		z-index: 1;
		width: 48px;
		height: 49px;
		float: right;
	}
}
@media screen and(max-width: 1230px) {
    .main-header{
        display: none;
    }
    .title-back{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 60%;
    }
	.whatsapp-link{
		z-index: 9999999;
		position: fixed;
		bottom: 20px;
		right: 10px;	
		width: 45px;
		height: 46px;
		img{
			z-index: 99;
			width: 45px;
			height: 46px;
			float: right;
		}
	}
}