#wrapper{
    padding-top: 129px;
}
.banner{
    height: 802px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    .left{
        width: 63%;
        h2{
            filter: drop-shadow(0 8px 4px #00000021);
            font-family: "Open Sans", sans-serif;
            font-size: 64px;
            font-style: normal;
            font-weight: 600;
            line-height: 77px;
            letter-spacing: -0.01em;
            text-align: left;
            color: #FFF;
        }
		p{
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 600;
			font-size: 28px;
			line-height: 120%;
			letter-spacing: -0.01em;
			color: #FFFFFF;
		}
        .btn-white{
            cursor: pointer;
            transition: all .3s;
            width: fit-content;
            margin-top: 50px;
            padding: 8px 66px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background-color: #FFF;
            border: 1px #FFF solid;
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: center;
            color: #00959C;
            &:hover{
                border: 1px #FFF solid;
                background-color: #00959C;
                color: #FFF;
            }
        }
    }
}
.quem-sou{
    padding-top: 100px;
    .al-container{
        .subtitle{
            font-family: "Open Sans", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px;
            letter-spacing: 0em;
            text-align: left;
            color: #436E70;
        }
        .text-layout{
            padding-top: 20px;
            display: flex;
            flex-wrap: nowrap;
            height: 100%;
            .left, .right{
                width: 49%;
                font-family: "Open Sans", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: left;
                color: #727272;
                p+p{
                    padding-top: 20px;
                }
            }
            .right{
                padding-left: 20px;
                display: flex;
                max-height: 437px;
                width: 52%;
                img{
                    margin-left: auto;
                }
                .all{
                    width: 32%;
                    margin-left: auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: end;
                    .top{
                        max-height: 55%;
                        object-fit: fill;
                        width: 100%;
                    }
                    .bottom{
                        margin-top: auto;
                        max-height: 42%;
                        object-fit: fill;
                        width: 100%;
                    }
                }
            }
        }
        .under{
            padding-top: 20px;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: #727272;
            p+p{
                padding-top: 20px;
            }
        }
    }
}
.depoimentos{
    padding: 140px 0;
    .al-container{
        .subtitle{
            font-family: "Open Sans", sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0em;
            text-align: left;
            color: #436E70;
        }
        .depoimentos-lista{
            #depoimentos-slider{
                min-height: 240px;
            }
            #depoimentos-slider,#depoimentos-slider-mobile{
                height: unset!important;
            }
            .lSSlideOuter{
                display: flex;
                flex-wrap: wrap;
                justify-content: end;
                .lSSlideWrapper{
                    order: 2;
                }
            }
            ul{
                padding-top: 20px;
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                position: relative;
                li{
                    margin: 0 10px;
                    height: 240px;
                    .depoimento{
                        height: 220px;
                        width: calc(($container - 64px) / 3);
                        border: 1px solid;
                        border-image-source: linear-gradient(180deg, #DDF7F8 0%, rgba(0, 0, 0, 0) 97.4%);
                        box-shadow: 0px 4px 8px 0px #00000017;
                        border-radius: 8px;
                        .content{
                            padding: 20px 29px;
                            .nome{
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 25px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #4F4F4F;
                            }
                            .avaliacao{
                                padding: 5px 0;
                            }
                            .text{
                                padding: 5px 0;
                                color: #4F4F4F;
                                font-family: "Open Sans", sans-serif;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 22px;
                                letter-spacing: 0em;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            #depoimentos-slider-mobile{
                li{
                    margin:0first-time !important;
                    .depoimento{
                        width: 80%;
                        margin: auto;
                    }
                }
            }
            .lSPager{
                padding-top: 0;
                display: block;
                order: 1;
                li{
                    margin: 0;
                    height: unset;
                }
            }
        }
    }
}
.yoga{
    background: linear-gradient(180deg, #F7F9DF 48.44%, rgba(221, 246, 248, 0) 100%);
    position: relative;
    overflow: hidden;
    &:before{
        position: absolute;
        top: -65px;
        left: 0;
        background: url("assets/images/flor-left.png") no-repeat top right;
        content: "";
        display: block;
        height: 100%;
        width: calc((100% - $container) / 2);
    }
    &:after{
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        right: 0;
        background: url("assets/images/flor-right.png") no-repeat top left;
        content: "";
        display: block;
        height: 100%;
        width: 520px;
    }
    .al-container{
        position: inherit;
        z-index: 99999;
        padding-top: 70px;
        .subtitle{
            font-family: "Open Sans", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0em;
            text-align: left;
            color: #436E70;
            padding: 10px 0;
        }
        .text{
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: #727272;
            p{
                padding-top: 20px;
            }
        }
        .cards{
            padding: 50px 0;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            .card{
                background-color: #FFF;
                border-radius: 8px;
                min-height: 465px;
                padding: 46px 16px;
                width: calc(($container - 64px) / 3);
                border: 1px solid;
                border-image-source: linear-gradient(180deg, #DDF7F8 0%, rgba(0, 0, 0, 0) 97.4%);
                box-shadow: 0px 4px 8px 0px #00000017;
                .atributos{
                    padding: 10px 0;
                    display: flex;
                    min-height: 86px;
                    &.pratica{
                        min-height: 152px;
                    }
                    img{
                        margin-top: 2px;
                        height: 100%;
                    }
                    div{
                        padding-left: 20px;
                        font-family: "Open Sans", sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #505050;
                    }
                }
                .subtitle{
                    font-family: "Open Sans", sans-serif;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 49px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #DFED8A;
                    padding-bottom: 14px;
                }
                .btn-green-a{
                    display: block;
                    height: 100%;
                    padding: 15px 0;
                    .btn-green{
                        border: 1px #DFED8A solid;
                        transition: all .3s;
                        width: 85%;
                        color: #FFFFFF;
                        background-color: #DFED8A;
                        font-family: "Open Sans", sans-serif;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: center;
                        border-radius: 8px;
                        padding: 6px 0;
                        margin: auto;
                        &:hover{
                            border: 1px #DFED8A solid;
                            background-color: #FFFFFF;
                            color: #DFED8A;
                        }
                    }
                }
            }
        }
    }
    .first-time{
        margin:  auto;
        margin-top: 140px;
        position: relative;
        background: rgba(233, 245, 160, 0.23);
        box-shadow: 0px -1px 14px 0px #0000001C;
        width: 52.5%;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .left{
            padding: 32px 80px;
            width: 65%;
        }
        .right{
            width: 35%;
            position: absolute;
            right: -40px;
            img{
                width: 100%;
            }
        }
        .subtitle{
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 800;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
            color: #05676C;
        }
        .text{
            color: #93ADAE;
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            padding: 10px 0 30px 0;
            li{
                list-style: disc;
                list-style-position: inside;
                color: #93ADAE;
                font-family: "Open Sans", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        .btn-red{
            transition: all .3s;
            font-family: "Open Sans", sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            padding: 6px 28px;
            background-color: #FFA288;
            border: 1px #FFA288 solid;
            border-radius: 8px;
            white-space: nowrap;
            &:hover{
                color: #FFA288;
                padding: 6px 28px;
                background-color: #FFFFFF;
                border: 1px #FFA288 solid;
            }
        }
    }
    .aula{
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        .al-container{
            padding: 140px 0;
            background-image: url("assets/images/flor-under.png");
            background-repeat: no-repeat;
            background-position: bottom;
        }
        .subtitle{
            font-family: "Open Sans", sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0em;
            text-align: left;
            color: #436E70;
            padding: 30px 0
        }
        .listas{
            display: flex;
            flex-wrap: nowrap;
            .left{width: 60%;}
            .right{width: 40%;}
            ul{
                li{
                    font-family: "Open Sans", sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 31px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #5E5E5E;
                    display: flex;
                    align-items: center;
                    img{
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}
.faq{
    position: relative;
    padding-bottom: 80px;
    &:after{
        position: absolute;
        top: -140px;
        right: 0;
        z-index: 99;
        background: url("assets/images/flor-right-2.png") no-repeat top left;
        content: "";
        display: block;
        height: 150%;
        width: 520px;
    }
    .al-container{
        position: inherit;
        z-index: 9999999;
        padding: 0;
        .subtitle{
            color: #436E70;
            font-family: "Open Sans", sans-serif;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0em;
            text-align: left;
        }
        .lSSlideOuter{
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            .lSSlideWrapper{
                order: 2;
            }
            .lSPager{
                margin-right: 7%;
            }
        }
        #faq-slider{
            position: inherit;
            z-index: 9999999;
            min-height: 740px;
            height: 100%!important;
            ul{
                padding-top: 40px;
                .faqli{
                    cursor: pointer;
                    width: 85%;
                    margin: auto;
                    margin-bottom: 24px;
                    padding: 0 40px;
                    background: #F9F9F9;
                    border: 1px solid #04868E;
                    box-sizing: border-box;
                    box-shadow: 0px 4px 9px 0px #00000021;
                    border-radius: 8px;
                    align-items: center;
                    font-family: "Open Sans", sans-serif;
                    display: flex;
                    align-items: center;
                    .pergunta{
                        width: 100%;
                        .line{
                            align-items: center;
                            font-family: "Open Sans", sans-serif;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #4F4F4F;
                            width: 100%;
                            padding: 14px 0;
                            display: flex;
                            .img{
                                width: 18px;
                                height: 24px;
                                div{
                                    width: 18px;
                                    height: 24px;
                                    img{
                                        width: 100%;
                                    }
                                }
                                margin-left: auto;
                            }
                        }
                        .hidden{
                            padding-bottom: 42px;
                            color: #4F4F4F;
                            font-family: "Open Sans", sans-serif;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 22px;
                            letter-spacing: 0em;
                            text-align: left;
                            width: 95%;
                        }
                    }
                }
            }
        }
    }
}
.yoga-para-criancas{
    padding-bottom: 120px;
    .first-time{
        margin:  auto;
        position: relative;
        background: rgba(233, 245, 160, 0.23);
        box-shadow: 0px -1px 14px 0px #0000001C;
        width: 52.5%;
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .left{
            padding: 32px 80px;
            width: 65%;
        }
        .right{
            width: 35%;
            position: absolute;
            right: -40px;
            height: 100%;
            img{
                width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }
        .subtitle{
            text-transform: uppercase;
            font-family: "Open Sans", sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 800;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;
            color: #05676C;
        }
        .text{
            color: #93ADAE;
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            padding: 10px 0 30px 0;
            li{
                list-style: disc;
                list-style-position: inside;
                color: #93ADAE;
                font-family: "Open Sans", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 33px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
        .btn-red{
            transition: all .3s;
            font-family: "Open Sans", sans-serif;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            padding: 6px 28px;
            background-color: #FFA288;
            border: 1px #FFA288 solid;
            border-radius: 8px;
            white-space: nowrap;
            &:hover{
                color: #FFA288;
                padding: 6px 28px;
                background-color: #FFFFFF;
                border: 1px #FFA288 solid;
            }
        }
    }
}
.reiki, .yoga-para-criancas{
    background: linear-gradient(180deg, #C3F9FC 48.44%, rgba(221, 246, 248, 0) 100%);
    position: relative;
    overflow: hidden;
    &:before{
        position: absolute;
        top: 0px;
        left: 0;
        background: url("assets/images/flor-left-2.png") no-repeat top right;
        content: "";
        display: block;
        height: 100%;
        width: calc((100% - $container) / 2.2);
    }
    .al-container{
        z-index: 99999;
        padding-top: 70px;
        .btn-space{
            text-align: center;
            padding: 80px;
            .btn-dark-green{
                transition: all .3s;
                font-family: "Open Sans", sans-serif;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFF;
                padding: 6px 69px;
                background-color: #436E70;
                border: 1px #436E70 solid;
                border-radius: 8px;
                &:hover{
                    color: #436E70;
                    padding: 6px 69px;
                    background-color: #FFFFFF;
                    border: 1px #436E70 solid;
                }
            }
        }
        .subtitle{
            font-family: "Open Sans", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px;
            letter-spacing: 0em;
            text-align: left;
            color: #436E70;
            padding-bottom: 20px;
        }
        .text{
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: #727272;
            p+p{
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
        .beneficios{
            padding: 40px 0;
            .subtitle{
                font-family: "Open Sans", sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 49px;
                letter-spacing: 0em;
                text-align: left;
                color: #436E70;
                padding: 0;
            }
            .listas{
                display: flex;
                justify-content: space-between;
                ul{
                    padding-top: 40px;
                    width: 40%;
                    li{
                        display: flex;
                        align-items: center;
                        font-family: "Open Sans", sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 31px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #5E5E5E;
                        img{
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}
.curso-voce-e-os-mestres{
    .protecao-garantia{
        padding: 40px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 12px;
        flex-wrap: wrap;
        span{
            color: #000;
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}
.cura-arcturiana, .curso-voce-e-os-mestres{
    background: linear-gradient(180deg, #F7F9DF 48.44%, rgba(221, 246, 248, 0) 100%);
    position: relative;
    overflow: hidden;
    &:before{
        position: absolute;
        top: 7%;
        left: 0;
        background: url("assets/images/flor-left-3.png") no-repeat top right;
        content: "";
        display: block;
        height: 100%;
        width: calc((100% - $container) / 1.7);
    }
    &:after{
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
        right: -9%;
        background: url("assets/images/flor-right-3.png") no-repeat top left;
        content: "";
        display: block;
        height: 100%;
        width: 520px;
    }
    .al-container{
        z-index: 99999;
        padding-top: 70px;
        .btn-space{
            text-align: center;
            padding: 60px 0 80px 0;
            .btn-soft-green{
                transition: all .3s;
                font-family: "Open Sans", sans-serif;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFF;
                padding: 6px 69px;
                background-color: #DFED8A;
                border: 1px #DFED8A solid;
                border-radius: 8px;
                &:hover{
                    color: #DFED8A;
                    padding: 6px 69px;
                    background-color: #FFFFFF;
                    border: 1px #DFED8A solid;
                }
            }
        }
        .subtitle{
            color: #436E70;
            font-family: "Open Sans", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 65px;
            letter-spacing: 0em;
            text-align: left;
        }
        .text{
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;
            color: #727272;
            p{
                padding-top: 20px;
            }
            p+p{
                padding-bottom: 20px;
            }
        }
        .beneficios{
            padding: 40px 0;
            .subtitle{
                font-family: "Open Sans", sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 49px;
                letter-spacing: 0em;
                text-align: left;
                color: #436E70;
                padding: 0;
            }
            .listas{
                display: flex;
                justify-content: space-between;
                ul{
                    padding-top: 40px;
                    padding-right: 5%;
                    li{
                        display: flex;
                        align-items: center;
                        font-family: "Open Sans", sans-serif;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 31px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #5E5E5E;
                        img{
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}
#depoimentos-slider-mobile{
    display: none;
}
.lSSlideOuter{
    .lSPager{
        li{
            a{
                height: 14px!important;
                border-radius: 8px!important;
                width: 14px!important;
                background: #C6C6C6!important;
            }
        }
        .active{
            a{
                height: 13px!important;
                border-radius: 8px!important;
                width: 32px!important;
                background: #00C3CD!important;
            }
        }
    }
}
@media screen and(max-width: 1230px) {
    #wrapper{
        padding-top: 0px;
    }
    #depoimentos-slider-mobile{
        display: block;
    }
    #depoimentos-slider{
        display: none;
    }
    .banner{
        height: auto;
        .al-container{
            .left{
                width: 100%;
                h2{
                    padding: 0 20px;
                    font-size: 38px;
                    line-height: 1.6em;
                }
                div{
                    padding: 20px;
                    .btn-white{
                        padding: 8px 48px;
                    }
                }
            }
        }
    }
    .quem-sou{
        .al-container{
            .subtitle{
                text-align: center;
            }
            .under{
                padding: 20px;
            }
            .text-layout{
                flex-wrap: wrap;
                .left, .right{
                    padding: 20px;
                    width: 100%;
                    max-height: unset;
                }
                .right{
                    margin: auto;
                    width: 80%;
                    flex-wrap: wrap;
                    img{width: 100%;}
                    .all{
                        padding-top: 2%;
                        width: 100%;
                        justify-content: space-between;
                        .top, .bottom{
                            margin-left: 0;
                            margin-top: unset;
                            width: 49%;
                            height: 75%;
                            max-height: 75%;
                        }
                    }
                }
            }
        }
    }
    .yoga-para-criancas{
        .first-time{
            width: 80%;
            .left, .right{
                width: 100%;
                padding: 0;
                position: relative;
                right: 0px;
            }
            .left{
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                padding: 20px;
            }
            .right{
                display: flex;
                justify-content: center;
                width: 100%;
                img{width: auto;}
            }
            .btn-red{
                white-space: unset;
            }
        }
        .aula{
            .al-container{
                padding: 140px 20px;
                background-position: center;
                .listas{
                    flex-wrap: wrap;
                    .left, .right{
                        width: 100%;
                    }
                }
            }
        }
    }
    .yoga{
        .al-container{
            padding: 20px;
            .cards{
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 5px;
                .card{
                    margin-bottom: 20px;

                }
                .card:nth-child(2){
                    .subtitle{
                        margin-bottom: 0px;
                    }
                    .btn-green-a{
                        margin-top: 0px;
                        padding: 15px 0;
                    }
                }
            }
        }
        .first-time{
            width: 80%;
            .left, .right{
                width: 100%;
                padding: 0;
                position: relative;
                right: 0px;
            }
            .left{
                justify-content: center;
                display: flex;
                flex-wrap: wrap;
                padding: 20px;
            }
            .right{
                display: flex;
                justify-content: center;
                width: 100%;
                img{width: auto;}
            }
            .btn-red{
                white-space: unset;
            }
        }
        .aula{
            .al-container{
                padding: 140px 20px;
                background-position: center;
                .listas{
                    flex-wrap: wrap;
                    .left, .right{
                        width: 100%;
                    }
                }
            }
        }
    }
    .faq{
        .al-container{
            padding: 0 20px;
        }
        #faq-slider{
            min-height: unset;
            ul{
                .faqli{
                    width: 85%;
                }
            }
        }
        &:after{
            z-index: 0;
        }
    }
    .yoga-para-criancas{
        .btn-dark-green{
            font-size: 16px!important;
            line-height: 22px!important;
            padding: 10px!important;
        }
    }
    .curso-voce-e-os-mestres{
        .btn-soft-green{
            padding: 10px!important;
            font-size: 10px!important;
        }
    }
    .reiki, .cura-arcturiana, .curso-voce-e-os-mestres, .yoga-para-criancas{
        .al-container{
            padding: 0 20px;
            .beneficios{
                .subtitle{
                    font-size: 32px;
                }
                .listas{
                    flex-wrap: wrap;
                    ul{
                        width: 100%;
                    }
                    ul+ul{
                        padding: 0;
                    }
                }
            }
            .btn-space{
                padding: 80px 0;
            }
        }
    }
    .cura-arcturiana, .curso-voce-e-os-mestres{
        &:after{
            right: -55%;
        }
    }
    .depoimentos{
        padding: 140px 20px;
    }
    .main-footer{
        .sup-footer{
            .al-container{
                .collum-footer{
                    .logo{
                        width: auto;
                        height: auto;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
#moove_gdpr_cookie_info_bar, .moove-gdpr-align-center{
	z-index: 99999999999!important;
}
