.container{
    width:  1190px;
    margin: auto;
    padding: 180px 0;
    h1{
        font-family: "Open Sans", sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: center;
        color: #436E70;
        padding: 20px 0;
    }
    h2{
        font-family: "Open Sans", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: #436E70;
        padding: 20px 0;
    }
    p{
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
        color: #5E5E5E;        
    }
}